Creative Agency style.css
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-menu-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

header {
    background-image: url(./photoshop/design-assets/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 10px;
    color: white;
}

.header-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    /* font-family: ; */
}

#header-menu-logo {
    padding-left: 5%;
}

#logo {
    width: 3em;
    height: 3.3em;
}

#tajam {
    width: 5.3em;
    height: 3.3em;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}

p {
    font-size: 0.9em;
    color: rgb(94, 94, 94);
}

.title-text {
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    /* font-family: ; */
    text-align: center;
    line-height: 1.3em;
}

#white-text {
    color: rgb(245, 247, 255);
    
}

#title-underline {
    color: aqua;
}

button {
    padding: 0.9em 1em;
    border: 1.4px solid;
    color: rgb(0, 218, 218);
    border-color: rgb(0, 206, 203);
    border-radius: 3px;
    background-color: transparent;
    font-size: 0.8em;
    font-weight: bold;
}

button:hover, a:hover, #SUBMIT:hover {
    color: rgb(165, 254, 254);
    border-color: rgb(165, 254, 254);
    cursor: pointer;
}

button:active, a:active, #SUBMIT:active {
    color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
}

.button-div {
    padding: 1.2em 0;
}

.our-story {
    /* padding-top: 1.5em;
    padding-bottom: 2.5em; */
    /* font-family: ; */
    padding-left: 6em;
    line-height: 1.3em;
    width: 43em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}

#big-logo {
    width: 14em;
    height: 13em;
    margin-left: 10em;
    margin-bottom: 4em;

}

.main-1 {
    padding: 4em 4em 2em 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-2 {
    background-image: url(./photoshop/design-assets/bgk-middle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33rem;
    color: white;
}

#video-play {
    height: 7.5em;
    width: 7.5em;
    margin: 1em;
}

#video-text {
    margin: 1em;
    font-size: 15px;
    font-family:monospace;
    font-weight: bold;
    }

.main-3 {
    text-align: center;
    padding: 4em 4em 5em 4em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#main-underline-1 {
    color: rgb(189, 189, 189);
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0.8em;
    padding-bottom: 2em;
}

#EXPERTISE, #TEAM {
    padding-bottom: 0.5em;
}

h4 {
    padding: 1.5em 0em 1em 0em;
}

.expertise-menu {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* gap: 1.5rem;
    text-align: center;
    margin: 0;
    padding-top: 4em;*/
    }

#expertise-table {
    /* flex-direction: column; */
    /* width: 22em; */
    /* height: 15em; */
    /* padding: 3em 2em; */
    /* margin: 0em; */
    }

#expertise-table-1 {
    /* border-right: 1.5px solid rgb(189, 189, 189); */
    width: 22em;
    height: 15em;
    padding: 3em 2em;
}
#expertise-table-2 {
    border-right: 1.5px solid rgb(229, 229, 229);
    border-left: 1.5px solid rgb(229, 229, 229);
    width: 22em;
    height: 15em;
    padding: 3em 2em;
}
#expertise-table-3 {
    /* border-bottom: 1.5px solid rgb(189, 189, 189); */
    width: 22em;
    height: 15em;
    padding: 3em 2em;
}
#expertise-table-4 {
    border-top: 1.5px solid rgb(229, 229, 229);
    width: 22em;
    height: 15em;
    padding: 3em 2em;
}
#expertise-table-5 {
    border-top: 1.5px solid rgb(229, 229, 229);
    border-left: 1.5px solid rgb(229, 229, 229);
    border-right: 1.5px solid rgb(229, 229, 229);
    width: 22em;
    height: 15em;
    padding: 3em 2em;
}
#expertise-table-6 {
    border-top: 1.5px solid rgb(229, 229, 229);
    width: 22em;
    height: 15em;
    padding: 52px 2em;
}

#expertise-row-1, #expertise-row-2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.main-4 {
    background-image: url(./photoshop/design-assets/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 45rem;
    padding: 4.5em 1em 1em 1em;
    color: white;
    text-align: center;
    }

#main-underline-2 {
    color: rgb(108, 116, 133);
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0.8em;
    padding-bottom: 2em;
}

h5 {
    padding: 1em 0 0.5em;
}

#hiring-text {
    color: rgb(232, 231, 231);
    padding-top: 4.5em;
}

#team-text {
    color: rgb(172, 172, 172);
    font-weight:lighter;
    font-size: 0.8em;
}

#team {
    margin: 0 0.5em;
    border: 1px solid rgb(135, 135, 135);
    padding-bottom: 1em;

}

.main-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 38em;

}

.brands-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#brands-1, #brands-2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
}

.zara {
    height: 25px;
}

#brand {
    padding: 1em;
}

#brand-title  {
    padding-left: 3.5em;
    padding-bottom: 1em;
}

#form-title  {
    padding: 2.2em 0em 1em;
}

#form-box {
    width: 30em;
    height: 3.4em;
    padding-left: 1em;
    border-radius: 0;
    border: 1.3px solid rgb(205, 205, 205);
    color:rgb(0, 0, 0);
}

#message {
    min-width: 33em;
    min-height: 13em;
    padding: 1em;
    max-width: 33em;
    max-height: 20em;
    border-radius: 0;
    border: 1.3px solid rgb(204, 204, 204);
    }

#form-box {
    width: 33em;
}

#SUBMIT {
    padding: 0.7em 2em;
    border: 1.4px solid;
    color: rgb(0, 218, 218);
    border-color: rgb(0, 206, 203);
    border-radius: 3px;
    background-color: transparent;
    font-size: 0.8em;
    font-weight: bold;
}
