div {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.light {
    background: white;
    color: black;
}
.dark {
    background: black;
    color: white;
}