.lds-dual-ring {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid red;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}